@{
    ViewData["Title"] = "Messages";
    @model TaskListYangBotWeb.Models.PageViewModel;
}
<partial name="_ManageNav" />
<br />
<div class="table-responsive">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Message.TextMessage)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Message.DateTime)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TextMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.PageInfoModel.TotalPages > 5)
        {
            <li class="page-item @(Model.PageInfoModel.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("GetMessages", new { page = Model.PageInfoModel.CurrentPage - 1, pageSize = Model.PageInfoModel.ItemsPerPage })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.PageInfoModel.TotalPages; i++)
            {
                if (i == 1 || i == Model.PageInfoModel.TotalPages || (i >= Model.PageInfoModel.CurrentPage - 1 && i <= Model.PageInfoModel.CurrentPage + 1))
                {
                    <li class="page-item @(i == Model.PageInfoModel.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("GetMessages", new { page = i, pageSize = Model.PageInfoModel.ItemsPerPage })">@i</a>
                    </li>
                }
                else if (i == Model.PageInfoModel.CurrentPage - 2 || i == Model.PageInfoModel.CurrentPage + 2)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
            }
            <li class="page-item @(Model.PageInfoModel.CurrentPage == Model.PageInfoModel.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("GetMessages", new { page = Model.PageInfoModel.CurrentPage + 1, pageSize = Model.PageInfoModel.ItemsPerPage })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            for (int i = 1; i <= Model.PageInfoModel.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageInfoModel.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("GetMessages", new { page = i, pageSize = Model.PageInfoModel.ItemsPerPage })">@i</a>
                </li>
            }
        }
    </ul>
</nav>