@{
    ViewData["Title"] = "User messages";
    @model TaskListYangBotWeb.Models.PageViewModel;
    ViewData["Action"] = "GetUserMessages";
}
@using System.Globalization;
<partial name="_ManageNav" />
<br />
<div class="table-responsive">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Message.TextMessage)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Message.DateTime)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.User.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TextMessage)
                    </td>
                    <td>
                        @item.DateTime.ToString("g", new CultureInfo("ru-RU"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_Pagination", Model)
